/autom4te.cache
/commands/cancel
/commands/localize.h
/commands/lp
/commands/lpc
/commands/lpmove
/commands/lpoptions
/commands/lpq
/commands/lpr
/commands/lprm
/commands/lpstat
/config.h
/config.log
/config.status
/configure~
/Makedefs
